.results {
  border-collapse: collapse;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;
}

.results td {
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  vertical-align: top;
}

.results th {
  background-color: rgb(128, 128, 128);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 16px 8px;
}
