:host {
  width: 100%;
}

form {
  margin-top: 16px;
  margin-bottom: 16px;
}

.criteria-resort {
  box-sizing: border-box;
  margin: 24px auto;
  padding: 16px;
  position: relative;
}

.criteria-header {
  background-color: rgb(128, 128, 128);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 16px;
}

.criteria-section {
  background-color: rgb(248, 248, 248);
  border-left-color: rgb(0, 0, 0);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: solid;
  border-right-width: 1px;
  padding: 16px;
}
